@model MoviesAppFinal.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h2>Movie Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/image/" + Model.ImgUrl)"
             width="250"
             class="img-thumbnail" />
    </div>

    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">Title</dt>
            <dd class="col-sm-9">@Model.Title</dd>

            <dt class="col-sm-3">Release Year</dt>
            <dd class="col-sm-9">@Model.ReleaseYear</dd>

            <dt class="col-sm-3">Genre</dt>
            <dd class="col-sm-9">@Model.Genre</dd>
        </dl>

        <a asp-action="Index" class="btn btn-secondary">
            Back to List
        </a>
    </div>
</div>