@model MoviesAppFinal.Models.Movie

<!-- Student Name: Muni Narendra -->
<!-- Student ID: 9050878 -->
@{
    ViewData["Title"] = "Edit Movie";
}

<h2>Edit Movie</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReleaseYear"></label>
        <input asp-for="ReleaseYear" class="form-control" />
        <span asp-validation-for="ReleaseYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Genre"></label>
        <select asp-for="Genre" class="form-control">
            <option>Action</option>
            <option>Comedy</option>
            <option>Drama</option>
            <option>Horror</option>
            <option>SciFi</option>
        </select>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <input asp-for="ImgUrl" class="form-control" />
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}